img {
  width: 400px;
  height: 300px;
  padding: 0;
}


#carousel {
  border: 1px solid #000;
  width: 400px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 2000px;
}
ul>li {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 400px;
  float: left;
}
/* arrows */

.arrow {
  width: 20px;
  height: 20px;
  position:absolute;
  top:150px;
  z-index:3;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover {
  border-color:#93278f;
}

.arrow-left {
  left:650px;
  transform:rotate(225deg);
}

.arrow-right {
  right:650px;
  transform:rotate(45deg);
}

/* dots */
.dots {
  position:absolute;
  left: 790px;
  top: 280px;
  z-index:4;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #93278f;
}